body {
	font-family: $primary-font;
	@include font(null, 16px, 1.14, 0.03em);
	color: $primary-text-color;
	background-color: $primary-bg-color;
}

.list {
	list-style: none;
}

.link {
	text-decoration: none;
}

.section {
	padding: 94px 0;
}
