$primary-text-color: #212121;
$secondary-text-color: #757575;
$tertiary-text-color: #ffffff;
$accent-color: #2196f3;
$primary-btn-color: #2196f3;
$secondary-btn-color: #f5f4fa;
$logo-color: #000000;
$primary-bg-color: #ffffff;
$secondary-bg-color: #2f303a;
$section-bg-color: #f5f4fa;
$link-color: rgba(255, 255, 255, 0.6);
$primary-icon-color: #afb1b8;
$transition-duration: 250ms;
$transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$overlay: rgba(33, 150, 243, 0.9);
$button-hover: #188ce8;
$primary-font: "Roboto", sans-serif;
$secondary-font: "Raleway", sans-serif;
$bg-gradient: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
