.footer {
	padding-top: 60px;
	padding-bottom: 60px;

	background-color: $secondary-bg-color;

	&__container {
		display: flex;
		align-items: baseline;
	}
}
// ---------- Contacts ----------

.address__item:not(:last-child) {
	margin-bottom: 9px;
}

.address__link {
	font-style: normal;
	@include font(null, 14px, 1.71, null);

	&--white {
		color: $tertiary-text-color;
		transition: color $transition-duration $transition-timing-function;

		&:hover,
		&:focus {
			color: $accent-color;
		}
	}

	&--grey {
		color: rgba(255, 255, 255, 0.6);
		transition: color $transition-duration $transition-timing-function;

		&:hover,
		&:focus {
			color: $accent-color;
		}
	}
}
// ---------- socials ----------
.footer__subtitle {
	margin-bottom: 20px;
	color: $tertiary-text-color;
}

.footer__socials {
	margin-left: 70px;
}

.socials__link--grey {
	fill: $tertiary-text-color;
	background-color: rgba(255, 255, 255, 0.1);
	transition: background-color $transition-duration $transition-timing-function;

	&:hover,
	&:focus {
		background-color: $accent-color;
	}
}
// ---------- subscription ----------
.footer__subscription {
	display: flex;
	align-items: flex-end;
	margin-left: auto;
}

.subscription {
	display: flex;
	flex-direction: column;

	&__subtitle {
		display: inline-block;
		margin-bottom: 20px;

		color: $tertiary-text-color;
		cursor: pointer;
	}

	&__input {
		padding: 15px 16px;
		width: 358px;
		height: 50px;
		border: 1px solid rgba(255, 255, 255, 0.3);
		filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
		border-radius: 4px;

		@include font(400, 16px, 1.25, null);

		color: $link-color;
		background-color: transparent;
	}

	&__button {
		display: flex;
		justify-content: center;
		align-items: center;
		min-width: 200px;
		height: 50px;
		margin-left: 12px;

		@include font(700, null, 1.88, 0.06em);

		color: $tertiary-text-color;
		background-color: $primary-btn-color;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

		transition: background-color $transition-duration $transition-timing-function;

		&:hover,
		&:focus {
			background-color: $button-hover;
		}
	}

	&__icon {
		margin-left: 10px;
		fill: #ffffff;
	}
}
