.hero {
	max-width: 1600px;
	min-height: 600px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 200px;
	padding-bottom: 200px;

	text-align: center;
	background-color: #c4c4c4;
	background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	&__title {
		width: 696px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 30px;

		@include font(900, 44px, 1.36, 0.06em);

		text-transform: uppercase;
		color: $tertiary-text-color;
	}

	&__btn {
		display: inline-block;
		min-width: 216px;
		padding: 10px 32px;

		font-family: inherit;
		@include font(700, 16px, 1.88, 0.06em);

		text-decoration: none;
		color: $tertiary-text-color;
		background-color: $primary-btn-color;
		filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

		transition: background-color $transition-duration $transition-timing-function;

		&:hover,
		&:focus {
			background-color: $button-hover;
		}
	}
}
