.team {
	line-height: 1.19;
	text-align: center;
	background-color: $section-bg-color;
}

.team__title {
	margin-bottom: 50px;
}

.card-list {
	display: flex;
	justify-content: space-between;
}

.card-list__item {
	width: 270px;
	border-radius: 0px 0px 4px 4px;

	background-color: $primary-bg-color;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.card-list__wrap {
	padding: 30px 32px;

	text-align: center;
}

.card-list__title {
	margin-bottom: 10px;

	@include font(500, 16px, null, null);
}

.card-list__text {
	color: $secondary-text-color;
	margin-bottom: 16px;
}

.socials__link--white {
	fill: $primary-icon-color;
	transition: background-color $transition-duration $transition-timing-function,
		fill $transition-duration $transition-timing-function;

	&:hover,
	&:focus {
		background-color: $accent-color;
		fill: #ffffff;
	}
}
